.current {
  color: green;
}

body {
  font-family: 'Lora', 'serif';
  font-size: 14pt;
  line-height: 1.5em;
  max-width: 36em;
  margin: 6em auto;
}

article {
  margin-top: 6em;
}

article h1 {
  font-size: 14pt;
}

article img {
  max-width: 100%;
}

footer {
  margin-top: 6em;
}

blockquote {
  margin: 0 0 0 calc(-1em );
  padding-left: calc(1em - 2px);
  border-left: 2px solid;
  font-style: italic;
}

article time {
  font-size: 10pt;
  font-style: italic;
}